.background-map {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &-marker {
    display: block;
    position: absolute;
    margin-top: -16px;
    margin-left: -16px;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    &:hover {
      z-index: 9999;
    }

    &-tooltip {
      text-align: center;
      background-color: rgba(#25282A, .97) !important;
      color: white !important;

      &-description {
        margin: 0;
        white-space: nowrap;
      }
    }
  }
}
