.background-map {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &-marker-wrap {
    width: 32px !important;
    height: 32px !important;
    margin-top: -16px !important;
    margin-left: -16px !important;
    outline: 0;
  }
  &-marker {
    cursor: pointer;

    &-icon {
      width: 32px;
      height: 32px;
      background-image: url('marker.svg');
      background-position: center;
      background-size: cover;
      position: relative;
    }
    &-offline &-icon {
      filter: grayscale(100%);
    }

    &-tooltip {
      text-align: center;
      background-color: rgba(#25282A, .97) !important;
      color: white !important;

      &-description {
        margin: 0;
        white-space: nowrap;
      }
    }
  }
}
