.sidebar {
  position: absolute;
  z-index: 2;
  background-color: rgba(#25282A, .97);
  color: white;
  min-width: 20rem;
  width: 25%;
  top: 10px;
  bottom: 10px;
  left: 10px;
  overflow: auto;
  box-shadow: 0 0 .5rem rgba(#25282A, .25);
  border-radius: .2rem;

  &-content {
    padding: 1.25rem;
  }

  &-header,
  &-footer {
    text-align: center;
    padding: 2rem 1.25rem;
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      margin: 0;
    }
  }

  &-footer {
    font-size: .8em;
  }
}
