.sidebar {
  position: absolute;
  z-index: 2;
  background-color: rgba(#25282A, .97);
  color: white;
  min-width: 25rem;
  width: 25%;
  top: 10px;
  bottom: 10px;
  left: 10px;
  overflow: auto;
  box-shadow: 0 0 .5rem rgba(#25282A, .25);
  border-radius: .2rem;

  &-content {
    // padding: 1.25rem 0;
  }

  &-header,
  &-footer {
    text-align: center;
    padding: 2rem 0;
    // font-weight: 300;
    // font-size: 1.6em;
    // line-height: 1em;
    position: relative;

    // &::before {
    //   content: '';
    //   display: block;
    //   height: 0;
    //   position: absolute;
    //   right: 1.2rem;
    //   bottom: -1px;
    //   left: 1.2rem;
    //   border-top: 1px solid rgba(black, .1);
    //   border-bottom: 1px solid rgba(white, .1);
    // }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      margin: 0;
    }
  }

  &-footer {
    font-size: .8em;

    // &::before {
    //   top: -1px;
    //   bottom: auto;
    // }
  }
}
