.city-info {
  text-align: left;
  padding: 2rem 1.25rem;
  background-position: center;
  background-size: cover;
  background-color: #12DAB1;
  text-shadow: 0 0 .3rem rgba(black, .25);
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, .25);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    position: relative;
    z-index: 1;

    &:last-child {
      margin: 0;
    }
  }
}
