.city-info {
  text-align: left;
  padding: 1.25rem;
  background-position: center;
  background-size: cover;
  background-color: #12DAB1;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, .25);
  }

  &-nav {
    margin-bottom: 4rem;
    position: relative;
    z-index: 2;

    &-link {

      &,
      &:hover,
      &:focus {
        color: inherit;
        text-decoration: none;
        opacity: .75;
      }

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  &-header {
    text-shadow: 0 0 .3rem rgba(black, .25);
    position: relative;
    z-index: 2;

    h1,
    h2,
    h3,
    h4,
    h5,
    p {

      &:last-child {
        margin: 0;
      }
    }
  }
}
